*
{
  font-family: Helvetica, Arial, sans-serif;
  color: #462f2a;
	margin: 0;
	padding: 0;
}

html {
  background-color: #462f2a;
}

body {
  background-color: #fcf4dd;
  margin: 10px;
  padding: 0;
  font-size: 15px; 
  line-height: 19px;
}
h1, h2, h3, h4 {
  font-weight: normal;
}
h1 { 
  font-size: 21px; 
  margin-bottom: 10px;
}
h2 { 
  font-size: 16px;
  margin-bottom: 5px;
}
h3, h4 {
  font-size: 15px;
}
p, li {
  line-height: 19px;
}
p {
  margin-bottom: 1em;
}

a {
  color: #b4362b;
  text-decoration: none;
}
a:hover {
  color: #d29748;
}
a:visited {
  color: #462f2a;
  text-decoration: underline !important;
}
/*@media all and (min-width: 500px) {
  body {
    font-size: 15px
    line-height: 24px
  }
  h1 { font-size: 32px; }
  h2 { font-size: 21px; }
  h3 { font-size: 16px; }
  h4 { font-size: 14px; }
  
}
*/
li {
  list-style-type: none;
}

time {
  font-size: 12px;
}

aside {
  
}
aside {
  border-left: 5px solid #d29748;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  padding: 2px 60px 2px 8px;
/*  font-size: 13px;*/
  line-height: 21px;
  margin-left: 50px;
  margin-bottom: 40px;
}
aside ul {
  overflow: hidden;
}
aside li {
  float: left;
  margin: 0 5%;
}