@import url("base.css");
@import url("nav.css");
@import url("category.css");
@import url("featured.css");
@import url("related.css");
@import url("comments.css");
@import url("buttons.css");

.non-mobile, .non-desktop, .non-tablet {
  display: none  
}

.featured, .other {
  padding: 0 10px;
}

.featured {
  margin-bottom: 30px;
}

.other section {
  margin-bottom: 40px;
}

.post-categories {
  font-size: 12px;
}